/* FONTES IMPORTADAS */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

/* CORPO */

body {

    font-family: 'Ubuntu', sans-serif;

    padding: 0;
    margin: 0;

    background: url(imagens/wallpaper-verde.jpg);
    color: white;
    background-attachment: fixed;

}

#login {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.cartao {
    
    background: rgba(62, 153, 77, 0.753);
    backdrop-filter: blur(6px);
    box-shadow: 0px 0px 70px rgba(0, 0, 0, 0.432);

    width: 400px;
    height: 500px;

    border-radius: 25px;    

}

#cabecalho {

    padding: 30px 0px 30px 0px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.425);
    font-size: 20px;
    text-align: center;

}

/* NAVEGAÇÃO */

nav a p{

    padding-left: 5px;
    color: rgb(255, 255, 255);

}

nav a:hover {

    color: rgb(0, 0, 0);

}

nav p:hover {

    color: rgb(0, 0, 0);

}

#nav {

    display: flex;
    justify-content: space-between;

    background-color: rgba(62, 153, 77, 0.884);
    height: 40px;

    align-items: center;
    
}

nav a {

    display: flex;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    align-items: center;
    padding: 10px 20px 10px 20px;

}

nav a:hover {

    color: rgb(0, 0, 0);

}

.divimg {

    max-width: 20px;
    max-height: 20px;

}

img {

    width: 20px;
    height: 20px;

}

/* DADOS */

#dados {

    display: flex;
    align-items: center;
    flex-direction: column;

    text-shadow: 0px 0px 2px black;

}

#dados input {

    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.815);
    font-family: 'Dosis', sans-serif;
    font-size: 27px;
    letter-spacing: 9px;
    text-align: center;
    color: rgb(255, 255, 255);

    margin-top: 10px;
}

#dado01 {

    display: flex;
    flex-direction: column;

    width: 140px;
    padding: 0px 0px 40px 0px;
    
    font-weight: 500;

}

#dado02 {

    display: flex;
    flex-direction: column;

    width: 200px;
    font-weight: 500;
    
}

/* RODAPÉ */

.rodape {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    
}

.rodape a {

    text-decoration: none;
    color: rgba(255, 255, 255, 0.692);

}

/* BOTÃO LOGIN */

.botao {

    margin: 25px 0px 63px 0px;
    width: 120px;
    height: 40px;

    color: rgba(255, 255, 255, 0.753);
    background-color: #0000008a;

    border: none;
    border-radius: 20px;

    font-size: 17px;
    font-weight: bold;

}

.botao:hover {

    color: #000000cc;
    background-color: rgba(255, 255, 255, 0.856);

}

