/* FONTES IMPORTADAS */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/* CORPO */

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background: url(imagens/wallpaper-blur.jpg);
    background-attachment: fixed;

}

/* NAVEGAÇÃO */

nav {
    box-shadow: 0px 0px 50px black;
}


div ul {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    list-style-type: none;

    margin: 0;
}

a {
    text-decoration: none;
    padding: 30px 10px;
    color: rgb(0, 0, 0);
    font-weight: 800;
}

nav a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px #000000e3;
}

/* PRINCIPAL */

.assinatura {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    
}

.assinatura > img {

    padding: 50px;
    max-width: 100%;
    max-height: 100%;
}

.boasvindas {
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    max-width: 1000px;
    margin: 0 auto;

}

.secao {
    display: flex;
    background-color: rgb(255, 255, 255);
    max-width: 1000px;
    flex-wrap: wrap;
    margin: 0 auto;
    max-height: 100%;
    gap: 40px;

}

.secao div {

    flex: 300px;
    margin: 10px 10px 80px 10px;
    
}

img {
    max-width: 100%;
    display: block;
}

/* RODAPÉ */

footer {
    background-color: white;
    text-align: center;
    height: 40px;
    border-top: 2px solid black;
}

footer p {
    padding-top: 10px;
    margin-top: 0;
}
