/* FONTES IMPORTADAS */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/* OUTROS */

* {
    user-select: none
}

/* CORPO */

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    background: url(imagens/wallpaper-blur02.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 60px;

}

/* NAVEGAÇÃO */

div ul {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    list-style-type: none;
    border-radius: 0px 0px 150px 150px;
    margin: 0;
}

nav a {
    text-decoration: none;
    padding: 30px 10px;
    color: rgb(0, 0, 0);
    font-weight: 800;
}

nav a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

/* ASSINATURA */

.assinatura {
    display: flex;
    justify-content: center;
    height: 200px;
    padding: 40px;
}

.assinatura > img {
    max-width: 100%;
    max-height: 100%;
}

/* PRINCIPAL */

.boasvindas {
    padding: 98px 0px;
    display: flex;
    font-size:25px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: -2px;
    border-radius: 50px 50px 0px 0px;
}

.secao {
    display: grid;
    grid-template-columns:
    repeat(2, auto);
    gap: 30px;

    background-color: rgb(255, 255, 255);
    max-width: 940px;
    padding: 35px 30px 100px 30px;
    border-radius: 0px 0px 20px 20px;
    margin: 0 auto;
    margin-bottom: 70px;
}

/* IMAGENS */

.imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

.h-1 {
    grid-row: span 1;
}

.h-2 {
    grid-row: span 2;
}

.w-1 {
    grid-column: span 1;
}

.w-2 {
    grid-column: span 2;
}

.secao img:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.719);
} 

/* RODAPÉ */

footer {
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 auto;
    width: 300px;
    height: 40px;
    border-radius: 20px
}

footer p {
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.671);
}

footer a {
    text-decoration: none;
    padding-left: 2px;
    color: rgb(0, 0, 0);
    font-weight: 800;
}